* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #777777;
  font-family: 'Helvetica', sans-serif;
}

.slider {
  position: relative;
  max-width: 1000px;
  margin: 0 auto 70px;
}

.slider > .slick-slider {
  position: relative;
}

.slider > .slick-slider > .slick-list {
  width: 80% !important;
  height: 50%;
  overflow: hidden;
  margin: 0 auto 15px;
  border: solid 10px white;
  box-shadow: 0 0 15px rgba(16,39,71,0.5);
}

.slider > .slick-slider > .slick-list > .slick-track {
  outline: none;
  overflow: hidden;
  display: flex;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  margin-bottom: 15px;
  list-style-type: none;
}

@media all and (max-width: 500px) {
  .slick-dots {
    display: none !important;
  }
}

.slick-dots > li > button {
  opacity: 0;
  cursor: pointer;
}

.slick-dots > li::before {
  content: '';
  display: block;
  margin-right: 30px;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50px;
  position: relative;
  top: 25px;
  right: 8px;
  border: solid 6px white;
  box-shadow: 0 0 5px rgba(16,39,71,0.5);
}

.slick-dots > .slick-active::before {
  background: #9da3d7;
}
